.detail_container {
  margin: 0 auto;
  .top_main_wrap {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: 50% 18%;
    text-align: center;
    line-height: 300px;
    font-size: 30px;
    background: #a0959f;
  }
  .btm_info_wrap {
    margin: -34px auto 0;
    padding: 0 0 134px;
    display: flex;
    width: 960px;
    z-index: 9;
    .poster_img_box {
      margin-right: 20px;
      width: 166px;
      border: 2px solid #fff;
      border-radius: 2px;
      box-shadow: rgb(0 0 0 / 30%) 0px 0px 2px;
      box-sizing: border-box;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .poster_info_box {
      div {
        padding: 5px 0;
      }
      .num {
        margin-top: 3px;
        color: rgba(255, 255, 255, 0.8);
        span {
          padding-right: 10px;
        }
      }
      .tit {
        letter-spacing: -1.2px;
        line-height: 41px;
        font-weight: 700;
        font-size: 33px;
      }
    }
  }
}
