*{
  margin:0;
  padding:0;
}
ul,ol,li{
  list-style: none;
}
a{
  color:#333;
  text-decoration: none;
}
.main_container {
  position: relative;
  width: 100%;
  .poster_list_wrap {
    .poster_box {
      display: inline-block;
      padding:0 8px 20px;
      width: 20%;
      vertical-align: top;
      box-sizing: border-box;
      .img_box {
        overflow: hidden;
        position: relative;
        width: 100%;
        padding-top: calc(700 / 490 * 100%);
        height: 0;
        img {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
        }
      }
      .txt_box {
        position: relative;
        p{
          margin:0;
        }
        .tit {
        }
        .info {
        }
        .num {
        }
      }
    }
  }
}
