.main_container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1320px;
  .poster_list_wrap {
    padding: 0 17px;
    width: 100%;
    box-sizing: border-box;
    h2 {
      padding: 12px 0 14px;
    }
    .poster_box {
      box-sizing: border-box;
    }
  }
}
@media (max-width: 1300px) {
  .main_container {
    width: calc(100% - 120px);
    margin: 0 60px;
  }
}

@media (max-width: 720px) {
  .main_container {
    width: 100%;
    margin: 0 auto;
    max-width: auto;
  }
}
