.img_box {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-top: calc(700 / 490 * 100%);
  height: 0;
  .rank_txt {
    position: absolute;
    left: 6px;
    top: 6px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    z-index: 9;
  }
  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }
}
.txt_box {
  position: relative;
  padding-top: 10px;
  p {
    margin: 0;
  }
  .tit {
    font-weight: 500;
    font-size: 16px;
    color: #292a32;
  }
  .info {
    padding-bottom: 1px;
    font-weight: 400;
    font-size: 14px;
    color: #292a32;
  }
  .rate {
    font-weight: 400;
    font-size: 14px;
    color: #292a32;
    em {
      display: inline-block;
      vertical-align: top;
      margin-top: -2px;
      font-style: initial;
    }
  }
  .num {
    font-weight: 400;
    font-size: 14px;
    color: #292a32;
  }
}

:global(.button-prev),
:global(.button-next) {
  position: absolute;
  top: 40%;
  width: 34px;
  height: 34px;
  background: #fff;
  border-radius: 50%;
  box-shadow: rgb(0 0 0 / 20%) 0px 0px 4px 0px;
  z-index: 999;
  cursor: pointer;
}
:global(.button-prev) {
  left: 2px;
  &::after {
    content: "";
    position: absolute;
    left: 57%;
    top: 50%;
    transform: translate(10px, 10px);
    width: 12px;
    height: 12px;
    border-top: 2px solid #999;
    border-right: 2px solid #999;
    transform: translate(-50%, -50%) rotate(225deg);
  }
  &:hover {
    &::after {
      content: "";
      position: absolute;
      left: 57%;
      top: 50%;
      transform: translate(10px, 10px);
      width: 12px;
      height: 12px;
      border-top: 2px solid #666;
      border-right: 2px solid #666;
      transform: translate(-50%, -50%) rotate(225deg);
    }
  }
}
:global(.button-next) {
  right: 2px;
  &::after {
    content: "";
    position: absolute;
    left: 45%;
    top: 50%;
    transform: translate(10px, 10px);
    width: 10px;
    height: 10px;
    border-top: 2px solid #999;
    border-right: 2px solid #999;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &:hover {
    &::after {
      content: "";
      position: absolute;
      left: 45%;
      top: 50%;
      transform: translate(10px, 10px);
      width: 10px;
      height: 10px;
      border-top: 2px solid #666;
      border-right: 2px solid #666;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
}
:global(.button-prev.swiper-button-disabled),
:global(.button-next.swiper-button-disabled) {
  display: none;
}
